<html>
  <head>
    <title>$i18n.getText("admin.title")</title>
    <meta name="decorator" content="atl.admin" />
    $webResourceManager.requireResource("com.thundermoose.plugins.stash-token-auth:resources")
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()">
  </head>
  <body>
    <h2>$i18n.getText("admin.label")</h2>
    <form id="admin" class="aui">
      <div class="field-group">
        <label for="ttl">$i18n.getText("admin.key.label")</label>
        <input class="text" type="text" id="key" name="key">
        <button class="aui-button add-button">$i18n.getText("admin.key.button.label")</button>
        <div class="description">$i18n.getText("admin.key.description")</div>
      </div>
      <div class="field-group">
        <label for="ttl">$i18n.getText("admin.ttl.label")</label>
        <input class="text short-field" type="text" id="ttl" name="ttl" maxlength="4">
        <div class="description">$i18n.getText("admin.ttl.description")</div>
      </div>
      <fieldset class="group checkbox">
        <div class="checkbox">
          <input type="checkbox" id="enabled" name="enabled" value="true">
          <label for="enabled">$i18n.getText("admin.enabled.label")</label>
          <div class="description">$i18n.getText("admin.enabled.description")</div>
        </div>
      </fieldset>
      <div class="field-group">
        <input type="submit" value="$i18n.getText("admin.save.label")" class="button">
      </div>
    </form>
  </body>
</html>